{{#each this}}
<li>
    <h2 class='name'> {{name}}</h2>
    <img src="{{flag}}" alt="Image" width="480" height="320">
    <h3 class="capital">Capital: {{capital}}</h3>
    <h3 class="population"> Population: {{population}}</h3>
    <ul class="links"> Languages:
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

</li>
{{/each}}